Turns/Library/*
Turns/Temp/*
Turns/obj/*
builds/*
out/*
ress/*
Turns/.vs/*
Turns/etc/*
Turns/Logs/*
Turns/.vscode/*
Turns/.idea/.idea.Turns/.idea/workspace.xml
Turns/.idea/.idea.Turns/.idea/contentModel.xml
